.navbar {
	min-height: 90px;
}

.navbar-title-styler {
	font-weight: bold;
	font-size: 30px;
	cursor: context-menu;
}

#account_dd:hover {
	cursor: pointer;
}

.spacer-header {
	padding-bottom:150px;
}