.footer {
	position: fixed;
	left: 0;
    bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #007BFF;
	/*min-height: 20px;*/
}

.footer-text {
	text-align:center;
	line-height: 60px;
	margin:0;
	font-weight: bold;
	color: white;
}

@media screen and (max-height: 768px) {
	.footer-text {
		text-align:center;
		line-height: 45px;
		margin:0;
		font-weight: bold;
		color: white;
	}
}