{
  "name": "aps-checkout",
  "version": "1.0.0",
  "description": "checkout application for aps",
  "main": "index.js",
  "scripts": {
    "test": "start"
  },
  "repository": {
    "type": "git",
    "url": "git+https://gitlab.com/alexcwebstudio/aps-checkout.git"
  },
  "author": "Alex Cevicelow",
  "license": "ISC",
  "bugs": {
    "url": "https://gitlab.com/alexcwebstudio/aps-checkout/issues"
  },
  "homepage": "https://gitlab.com/alexcwebstudio/aps-checkout#readme",
  "dependencies": {
    "express": "^4.17.1",
    "hbs": "^4.0.4",
    "stripe": "^7.9.1"
  },
  "devDependencies": {
    "nodemon": "^1.19.2"
  }
}
