<div id="particles-js"></div>
<div (konami)="meme()" class="container padder">
	<div class="row justify-content-center">
		<div class="col-md-4">
			<h4 class="non-intrusive display-4 centered">
				About Me
				<hr class="centered"/>
				<p class="lead">
					My name is Nick and I am a web developer, software developer, and software hacker. I enjoy many different frameworks and programming languages with my favorite being C++. When I am not being a developer, I enjoy going to car shows, working out, and eating. 
				</p>
			</h4>
		</div>
		<div class="ndesk-card-spacer"></div>
		<div class="card ndesk-card">
			<img draggable="false" class="logo_dir_styler card-img-top" src="assets/aboutme.png">
			<div class="card-body centered">
				<h5 class="card-title mb-0">Nick Gerancher</h5>
				<div class="card-text text-black-50">Software Developer</div>
			</div>
		</div>
	</div>
</div>