:host-context(.spacer-header) .img-container {
	display: none;
	padding-top: 0px;
	padding-bottom: 0px;
	padding: 0;
}

.display-2 {
	padding-top: 6rem;
}

.logo_dir_styler {
	height: 155px;
	width: 120px;
	border-radius: 3.5rem;
}