:host-context(.spacer-header) .img-container {
	display: none;
	padding-top: 0px;
	padding-bottom: 0px;
	padding: 0;
}

.display-2 {
	padding-top: 6rem;
}

.ndesk-card {
	width: 20rem;
}

.logo_dir_styler {
	height: 390px;
	width: auto;
	animation: 1s ease-in-out 0s 1 slideInFromLeft;
	/*border-radius: 3.5rem;*/
	/*border-radius: 8rem;*/
	/*border-radius: 5rem;*/
}

@keyframes slideInFromLeft {
    0% {
    	opacity: 0;
        transform: translateX(-300%);
    }
    35% {
    	opacity: 0.4;
    }
    100% {
    	opacity: 1;
        transform: translateX(0);
    }
}

