<div class="container h-100">
	<div class="row h-100 justify-content-center align-items-center">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auth">
			<div class="card card-login my-5">
				<div class="card-body">
					<h5 class="card-title centered">Login</h5>
					<form class="form-login">
						<div class="form-label-group">
							<input class="form-control" type="email" id="email" name="email" [(ngModel)]="email" placeholder="Email: " required>
							<label for="email">Email</label>
						</div>
						<div class="form-label-group">
							<input class="form-control" type="password" id="password" name="password" [(ngModel)]="password" placeholder="Password: " required>
							<label for="password">Password</label>
						</div>
						<button class="btn btn-lg btn-primary btn-block text-uppercase" type="button" (click)="loginComp()">Login</button>
						<hr class="centered"/>
						<div class="row">
							<div class="col-md-6">
								<button (click)="loginGoogle()" id="google-login-btn" class="btn btn-lg btn-google btn-block text-uppercase btn-google-spin" type="button"><i class="fa fa-google btn-spinner"></i><span class="user-show-login-text-google">Google </span> <i class="fa fa-caret-right user-show-login-google"></i></button>
							</div>
							<div class="spacer"></div>
							<div class="col-md-6">
								<button (click)="loginTwitter()" id="twitter-login-btn" class="btn btn-lg btn-twitter btn-block text-uppercase btn-google-spin" type="button"><i class="fa fa-twitter btn-spinner"></i> <span class="user-show-login-text-twitter">Twitter </span><i class="fa fa-caret-right user-show-login-twitter"></i></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>