.contact-spacer-top {
	padding-top:50px;
}

.contact-spacer-bottom {
	padding-bottom:30px;
}


@media screen and (max-height: 768px) {
	.contact-spacer-bottom {
		padding-bottom:80px;
	}
}


/*.ndesk-container-border {
	border: 1px solid #000000;
}*/

#msgInputField {
	resize: none;
}