<div class="container-fluid centered">
	<h2 class="display-2 centered">My Skills</h2>
	<hr class="centered"/>
</div>

<div class="container">
<div class="card-deck justify-content-center">
	<div class="row">
  <div class="card col-md-8">
    <img draggable="false" class="card-img-top skills-img" src="assets/webdev.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Web Development</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Skill acquired: web development</small></p>
    </div>
  </div>
  <div class="card col-md-8">
    <img draggable="false" class="card-img-top skills-img" src="assets/softwaredev.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Software Development</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Skill acquired: software development</small></p>
    </div>
  </div>
  <div class="card col-md-8">
    <img draggable="false" class="card-img-top skills-img" src="assets/devops.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Developer Operations</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Skill acquired: dev ops</small></p>
    </div>
  </div>
</div>

</div>
</div>