<div class="container-fluid centered">
    <h2 class="display-2 centered">My Skills</h2>
    <hr class="centered" />
</div>

<div class="container">
    <div class="card-deck justify-content-center">
        <div class="row">
            <div class="card col-md-8">
                <img draggable="false" class="card-img-top skills-img" src="assets/webdev.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Web Development</h5>
                    <p class="card-text">
                      As a web developer, I do many things mostly dealing with back-end development. I do mostly Angular development when working on the front-end of a website. I enjoy developing backends with Go as well as MVC frameworks in PHP include Laravel and F3.</p>
                    <p class="card-text">
                      <small class="text-muted">
                        Skill acquired: web development
                      </small>
                    </p>
                </div>
            </div>
            <div class="card col-md-8">
                <img draggable="false" class="card-img-top skills-img" src="assets/softwaredev.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Software Development</h5>
                    <p class="card-text">As a software developer, I do a lot of C++ development as well as Java, Swift, and Go development. My current favorite language is C++ because of its diversity and amount of libraries and frameworks written for it.</p>
                    <p class="card-text"><small class="text-muted">Skill acquired: software development</small></p>
                </div>
            </div>
            <div class="card col-md-8">
                <img draggable="false" class="card-img-top skills-img" src="assets/devops.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Developer Operations</h5>
                    <p class="card-text">Developer Operations or Dev Ops for short is a term used for the cycle of tools and frameworks used to test, run, and deploy software to production on a large team. Some tools include Docker, and Kubernetes. I am very familiar with Gitlab's CI/CD platform.
                    </p>
                    <p class="card-text"><small class="text-muted">Skill acquired: dev ops</small></p>
                </div>
            </div>
            <div class="container-fluid centered">
                <div id="languages" class="jumbotron tabbed-border">
                  <h2 class="centered">Languages</h2>
                    <ngb-tabset>
                        <ngb-tab id="java-tab" title="Java">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://www.java.com/en/">Java</a></h4>
                                <p class="text-left">
                                  Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="c++-tab" title="C++">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://isocpp.org/">C++</a></h4>
                                <p class="text-left">
                                  Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="javascript-tab" title="Javascript">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://www.javascript.com/">Javascript</a></h4>
                                <p class="text-left">
                                  Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="php-tab" title="PHP">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://php.net/">PHP</a></h4>
                                <p class="text-left">
                                  Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="swift-tab" title="Swift">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://swift.org/">Swift</a></h4>
                                <p class="text-left">
                                  Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="typescript-tab" title="Typescript">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://www.typescriptlang.org/">Typescript</a></h4>
                                <p class="text-left">
                                  Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="go-tab" title="Go">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://golang.org/">Go</a></h4>
                                <p class="text-left">
                                  Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
                <div id="frameworks" class="jumbotron tabbed-border">
                  <h2 class="centered">Frameworks</h2>
                    <ngb-tabset>
                        <ngb-tab id="angular-tab" title="Angular">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://angular.io/">Angular</a></h4>
                                <p class="text-left">
                                  Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="f3-tab" title="F3">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://fatfreeframework.com">F3</a></h4>
                                <p class="text-left">
                                  Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="laravel-tab" title="Laravel">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://laravel.com/">Laravel</a></h4>
                                <p class="text-left">
                                  Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="electron-tab" title="Electron">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://electronjs.org/">Electron</a></h4>
                                <p class="text-left">
                                  Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="jquery-tab" title="JQuery">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://jquery.com/">JQuery</a></h4>
                                <p class="text-left">
                                  Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>