<div class="container-fluid centered">
    <h2 class="display-2 centered">My Skills</h2>
    <hr class="centered" />
</div>

<div class="container">
    <div class="card-deck justify-content-center">
        <div class="row">
            <div class="card col-md-8">
                <img draggable="false" class="card-img-top skills-img" src="assets/webdev.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Web Development</h5>
                    <p class="card-text text-left">
                      As a web developer, I do many things mostly dealing with back-end development. I do mostly Angular development when working on the front-end of a website. I enjoy developing backends with Go as well as MVC frameworks in PHP include Laravel and F3.</p>
                    <p class="card-text">
                      <small class="text-muted">
                        Skill acquired: web development
                      </small>
                    </p>
                </div>
            </div>
            <div class="card col-md-8">
                <img draggable="false" class="card-img-top skills-img" src="assets/softwaredev.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Software Development</h5>
                    <p class="card-text text-left">As a software developer, I do a lot of C++ development as well as Java, Swift, and Go development. My current favorite language is C++ because of its diversity and amount of libraries and frameworks written for it.</p>
                    <p class="card-text"><small class="text-muted">Skill acquired: software development</small></p>
                </div>
            </div>
            <div class="card col-md-8">
                <img draggable="false" class="card-img-top skills-img" src="assets/devops.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Developer Operations</h5>
                    <p class="card-text text-left">Developer Operations or Dev Ops for short is a term used for the cycle of tools and frameworks used to test, run, and deploy software to production on a large team. Some tools include Docker, and Kubernetes. I am very familiar with Gitlab's CI/CD platform.
                    </p>
                    <p class="card-text"><small class="text-muted">Skill acquired: dev ops</small></p>
                </div>
            </div>
            <div class="container-fluid centered">
                <div id="languages" class="jumbotron tabbed-border">
                  <h2 class="centered">Languages</h2>
                    <ngb-tabset>
                        <ngb-tab id="java-tab" title="Java">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://www.java.com/en/">Java</a></h4>
                                <p class="text-left">
                                  Java was the first object oriented programming language that I would consider myself fluent in. I started developing in Java when I was 9 or 10 years old. I started programming in Java because of the game Minecraft, which everybody knows. I wanted to build mods so I forced myself to learn. After learning Java, lots of other programming languages came easy to me include C# and Javascript.
                                </p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="c++-tab" title="C++">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://isocpp.org/">C++</a></h4>
                                <p class="text-left">
                                    C++ is the most recent programming language that I have learned and am continuing to learn. The language was a bit of a learning curve to me because of the way memory is managed in all of the other languages I learned before. C++ has manual memory management, pointers, and lots of different casting types and variable decorators. I enjoy the ability to manually manage every little thing about a language and how it works.
                                </p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="javascript-tab" title="Javascript">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://www.javascript.com/">Javascript</a></h4>
                                <p class="text-left">
                                    Javascript is the language of the web. It is a very, very diverse programming language. The language allows compilation as well as quick interpretation as a client side language. My favorite way to use Javascript is with NPM and NodeJS. NodeJS is a super diverse language and set of tools on top of an already diverse programming langauge.
                                </p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="php-tab" title="PHP">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://php.net/">PHP</a></h4>
                                <p class="text-left">
                                    PHP is the first back-end programming language that I have learned. It is, in all, a terribly insecure language but, it was my first back-end language and I enjoy using it in MVC frameworks like Laravel. PHP has many bad things about it including its insecure ways to connect to a SQL server as well as its secure ways.
                                </p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="swift-tab" title="Swift">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://swift.org/">Swift</a></h4>
                                <p class="text-left">
                                    Swift is the main language of choice in modern macOS and iOS development. Objective-C is still the underlying language but, Swift is the main language that runs Apple's set of devices. Swift is a very nice language and its tools and built-in libraries are very well developed.
                                </p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="typescript-tab" title="Typescript">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://www.typescriptlang.org/">Typescript</a></h4>
                                <p class="text-left">
                                    Typescript is a language built on top of Javascript and it is the main language that runs Angular projects. Typescript is a very cool language and has great feature and libraries that integrate into Angular very well. Since Typescript is a Javascript language, NPM works directly with it, making library installations very easy to install and maintain.
                                </p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="go-tab" title="Go">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://golang.org/">Go</a></h4>
                                <p class="text-left">
                                    The Go programming language is known to be very efficient. It is, in my opinion, the best language to run a large web application on the back-end. It has feature like go routines, which are used in multi-threading and are extremely memory efficient. Go also has a very good CLI, making libraries very easy to install and use in your Go project.
                                </p>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
                <div id="frameworks" class="jumbotron tabbed-border">
                  <h2 class="centered">Frameworks</h2>
                    <ngb-tabset>
                        <ngb-tab id="angular-tab" title="Angular">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://angular.io/">Angular</a></h4>
                                <p class="text-left">
                                    Angular is my favorite web framework at the moment. It is an organized framework with components, services, classes, structs, and more. It is a very responsive framework especially with its custom Angular Material Css and Typescript library. Angular makes developing large scale web applications on a team very managable and efficient.
                                </p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="f3-tab" title="F3">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://fatfreeframework.com">F3</a></h4>
                                <p class="text-left">
                                    F3 is a very powerful but light PHP back-end framework. It is, in my opinion, very easy to learn because of its consistency. F3 has very nice libraries built, for example, lots of different SQL libraries that are maintained and secured. It is, of course, completely open source and hightly active.
                                </p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="laravel-tab" title="Laravel">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://laravel.com/">Laravel</a></h4>
                                <p class="text-left">
                                    The Laravel framework is developed object orientedly. It has a very nice CLI to manage your project and it scales fairly well across a team. Laravel is used by many companies and trusted by many companies because of its highly active rolling releases and developers.
                                </p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="electron-tab" title="Electron">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://electronjs.org/">Electron</a></h4>
                                <p class="text-left">
                                    ElectronJS is a framework built on Javascript to build desktop applications using web languages include HTML, CSS, and Javascript. Electron integrates with NPM and allows easy installations of all NPM libraries. It uses the Chromium engine to build desktop applications and has very talented developer on its team keeping Electron up to date. 
                                </p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="jquery-tab" title="JQuery">
                            <ng-template ngbTabContent>
                                <h4 class="slanted text-left"><a class="ngbTabLink" href="https://jquery.com/">JQuery</a></h4>
                                <p class="text-left">
                                    JQuery is an amazing Javascript library. It allows very easy dom selections and manipulation. JQuery gives developers the ability to highly condense their Javascript. JQuery is very highly used because of it time savings and scalability.
                                </p>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
                <div id="my-projects" class="jumbotron tabbed-border">
                    <h2 class="centered">My Projects</h2>
                    <hr class="centerd"/>
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="centered slanted">Nick's Desk Portfolio</h4>
                            <div class="centered">
                                <h6 class="centered text-muted">
                                    This project, is the project you are currently viewing. I have worked about 5 months on this website as it is an Angular 7 project. It used Typescript, SCSS, and Javascript.
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4 class="centered slanted">Clustern</h4>
                            <div class="centered">
                                <h6 class="centered text-muted">
                                    Clustern is a project that a I started a little while ago. It is a software and resource management solution that can connect to Digital Ocean and Vultr as well as other platforms and manage deployments and load balancing.
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4 class="centered slanted">POSS</h4>
                            <div class="centered">
                                <h6 class="centered text-muted">
                                    POSS or Preprocessed Objectified Style Sheets is a project I am currently developing. It a preprocessor similar to SASS. It incorporates class inheritance, logic, variables, and more!
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4 class="centered slanted">Pixlection</h4>
                            <div class="centered">
                                <h6 class="centered text-muted">
                                    Pixlection is a project that I worked on with a few friends. It was going to be a graphics and 3D object selling website to allow game designer and graphic designers to purchase high quality image and 3D renders.
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4 class="centered slanted">J-MLE</h4>
                            <div class="centered">
                                <h6 class="centered text-muted">
                                    J-MLE is a string parsing software solution similar to JSON. I built the origin version of this project in Java which could load an MLE config file locally or from the web. It could then parse the file and turn it into Java usable objects and types.
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4 class="centered slanted">Auto Maps Complete</h4>
                            <div class="centered">
                                <h6 class="centered text-muted">
                                    Auto Maps Completed was a small Javascript library that allowed for developers to import it and add a property to any text input field in HTML. The field would automatically add the Google Maps Auto Complete dropdown to it. This project was abandoned because of the Google Maps API going paid :(.
                                </h6>
                            </div>
                        </div>
                    </div>
                    <hr class="centered"/>
                        <h3 class="text-left"><strong class="slanted">Hey!</strong> These are just some examples of my projects. Most of my project live on Gitlab. Click <a class="gitlab-link" href="https://gitlab.com/nicksdesk">here</a> to view it and browse my projects.</h3>
                </div>
            </div>
        </div>
    </div>
</div>