<div class="container-fluid">
	<div  class="container col-md-6">
		<h1 class="display-2 centered">My Philosophy</h1>
	</div>
	<hr class="centered"/>
	<div class="container">
		<blockquote class="blockquote">
			<p class="mb-0">The "Nick's Desk" philosophy.</p>
			<footer class="blockquote-footer">A cool software developer's philosophy by <cite title="of_footer">Nick Gerancher</cite></footer>
		</blockquote>
		<p class="lead txt-indent">
			Hi, my name is Nicholas Gerancher. I am a software developer as well as a web developer, currently developing this portfolio as you are reading it! As a developer, I have many self-developed personal habbits and principles when developing projects. For example, when starting a project, I always end up using Git and sublime text (for most web projects and some C++ projects). Git is a vital tool for me as a developer as it allows very quick and seemless transition between work stations and developers.
		</p>
		<div class="padder"></div>
	</div>
</div>