.slide-right {
	font-style: italic;
	text-align: right;
}

.txt-indent {
	text-indent: 20px;
}

.slanted {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.non-decoration {
	text-decoration: none;
}

.full-resume-pdf {
	width: 100%;
	height: 85vh;
}

.hide-always {
	display: none;
}

.modal-styler .modal-content {
	height: 50%;
}

.padder {
	padding-bottom: 5rem;
}

.padder-from-summary {
	padding-top: 2rem;
}