.slide-right {
	font-style: italic;
	text-align: right;
}

.non-decoration {
	text-decoration: none;
}

.full-resume-pdf {
	width: 100%;
	height: 85vh;
}

.hide-always {
	display: none;
}

.modal-styler .modal-content {
	height: 50%;
}