<div *ngIf="authService.isLoggedIn; else nouser" class="container-fluid">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xs-6">
				<img draggable="false" src="{{ user_img }}" class="profile-image" alt="Profile image">
			</div>
			<div class="col-xs-6">
				<h3 class="display-2 centered welcome-splash">Welcome, {{ user_str }}</h3>
			</div>
		</div>
	</div>
	<hr class="centered"/>
</div>

<ng-template #nouser>
	<div class="container container-fluid">
		<h4 class="ndesk-responsive ndesk-in display-3 centered">You need to login to continue...</h4>
	</div>
</ng-template>