.blog {
	text-align: center;
}

.container-fluid {
	padding-bottom: 8rem;
}

#content {
	resize: none;
}

.blog-title:hover {
	cursor: default;
}

.slide-right {
	color: #000000;
	font-style: italic;
	text-align: right;
}