/* You can add global styles to this file, and also import other style files */

::-webkit-scrollbar { 
    display: none; 
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

.centered {
	text-align:center;
}