/* You can add global styles to this file, and also import other style files */

::-webkit-scrollbar { 
    display: none; 
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

.centered {
	text-align:center;
}

.modal-anim {
	animation-name: slide-modal;
	animation-duration: 0.3s;
}

@keyframes slide-modal {
	0% {
		transform: scale(0.5)
	}

	75% {
		transform: scale(1.1)
	}

	100% {
		transform: scale(1.0)
	}
}