<div class="jumbotron">
	<div class="container col-md-4">
		<h1 class="padded display-2 centered home-title-styler home-title-anim">Nick's Desk</h1>
		<h5 *ngIf="!funcs.isMobile()" class="form-text slide-right slide-right-anim">The desk full of ideas</h5>
	</div>
</div>
<div class="container-fluid centered bg-image">
	<div class="centered">
		<div class="row row-padded">
			<div class="col-md-6 col-lg-4">
				<h4 class="mb-0 display-4 slide-web"><i><a class="row-to" routerLink="/skills">Web</a></i></h4>
				<hr class="centered"/>
				<p class="lead">
					As a web developer, I enjoy developing backends and exploring new web frameworks like Angular. My favorite current web framework is Angular 7 because of its unique design and typescript integration. I also enjoy developing in PHP with MVC frameworks like Laravel and CodeIgniter. To learn more about my experience with web development.
				</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h4 class="mb-0 display-4 slide-software"><i><a class="row-to" routerLink="/skills" fragment="languages">Software</a></i></h4>
				<hr class="centered"/>
				<p class="lead">
					As a software developer, I do a lot of C++ development as well as Java, Swift, and Go development. My current favorite language is C++ because of its diversity and amount of libraries and frameworks written for it. To me, Software development as always been the most fun. I love developing desktop, mobile, and other applications using object oriented languages.
				</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h4 class="mb-0 display-4 slide-dev"><i><a class="row-to" routerLink="/skills" fragment="frameworks">Development</a></i></h4>
				<hr class="centered"/>
				<p class="lead">
					Development in general has a large part in Developer Operations or Dev Ops for short. It is a term used for the cycle of tools and frameworks used to test, run, and deploy software to production and testing on a large team. Some tools include Docker, and Kubernetes. I am very familiar with Gitlab's CI/CD platform as I am using to test and build this very site!
				</p>
			</div>
		</div>
	</div>
</div>

<ng-template #errmodal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="err-modal-title">Full Resume</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		
	</div>
</ng-template>

<ng-template #successmodal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="success-modal-title">Full Resume</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		
	</div>
</ng-template>