<div class="jumbotron">
	<div class="container col-md-4">
		<h1 class="padded display-2 centered home-title-styler home-title-anim">Nick's Desk</h1>
		<h5 *ngIf="!funcs.isMobile()" class="form-text slide-right slide-right-anim">The desk full of ideas</h5>
	</div>
</div>
<div class="container-fluid centered bg-image">
	<div class="centered">
		<div class="row row-padded">
			<div class="col-md-6 col-lg-4">
				<h4 class="mb-0 display-4 slide-web"><i><a class="row-to" routerLink="/skills">Web</a></i></h4>
				<hr class="centered"/>
				<p class="lead">
					As a web developer, I enjoy developing backends and exploring new web frameworks like Angular. My favorite current web framework is Angular 7 because of its unique design and typescript integration. I also enjoy developing in PHP with MVC frameworks like Laravel and CodeIgniter. To learn more about my experience with web development.
				</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h4 class="mb-0 display-4 slide-software"><i><a class="row-to" routerLink="/skills">Software</a></i></h4>
				<hr class="centered"/>
				<p class="lead">
					Some example text for the software header
				</p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h4 class="mb-0 display-4 slide-dev"><i><a class="row-to" routerLink="/skills">Development</a></i></h4>
				<hr class="centered"/>
				<p class="lead">
					Some example text for the development header
				</p>
			</div>
		</div>
	</div>
</div>