html, body {
	height: 100%;
}

.home-title-anim {
	animation-name: slidein-title;
	animation-duration: 2s;
}

.slide-right-anim {
	animation-name: slidein-title;
	animation-duration: 2s;
}

.row-to {
	font-weight: bold;
	color: #007BFF;
}

.row-to:hover {
	color: #093BB0;
	text-decoration: none;
}

.bg-image {
	max-height: 500%;
	background-color: #E5E8E8;
	height: 100%;
}

.row-padded {
	padding-top: 3rem;
}

.padded {
	padding-top: 6rem;
}

.slide-right {
	color: #FFFFFF;
	font-weight: bold;
	font-style: italic;
	text-align: right;
}

.home-title-styler {
	color: white;
	font-weight: bold;
}

.home-spacer-bottom {
	padding-bottom: 50px;
}

.slide-web {
	animation-name: squash-web;
	animation-duration: 2s;
}

.slide-dev {
	animation-name: squash-dev;
	animation-duration: 2s;
}

.slide-software {
	animation-name: squash-software;
	animation-duration: 2s;
}

.jumbotron {
	background-image: url('/assets/landing_background.jpg');
	width: 100%;

	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	margin: 0;
}

@media screen and (max-height: 768px) {
	.img-container {
		background: url('/assets/landing_background.jpg') no-repeat;
		max-height: 75%;
		min-height: 50%;
		height: 65%;
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	.bg-image {
		max-height: 500%;
		background-color: #E5E8E8;
		height: 250%;
	}
}

@keyframes slidein-title {
	from {
		margin-left: 100%;
		width: 300%; 
	}
	to {
		margin-left: 0%;
		width: 100%;
	}
}

@keyframes squash-web {
	from {
		height: 100%;
	}
	to {
		height: 26%;
	}
}

@keyframes squash-dev {
	from {
		height: 300%;
	}
	to {
		height: 26%;
	}
}

@keyframes squash-software {
	from {
		height: 200%;
	}
	to {
		height: 26%;
	}
}