<div class="container-fluid">
	<div class="container col-md-4">
		<h1 class="display-2 centered">Nick's Desk</h1>
		<h5 class="form-text text-muted slide-right">The desk full of ideas</h5>
	</div>
	<hr class="centered"/>
	<div class="home-spacer-bottom"></div>
	<div class="centered">
		<div class="row">
			<div class="col-md-6 col-lg-4">
				<h4 class="form-text">Testing</h4>
			</div>
			<div class="col-md-6 col-lg-4">
				<h4 class="form-text">Testing</h4>
			</div>
			<div class="col-md-6 col-lg-4">
				<h4 class="form-text">Testing</h4>
			</div>
		</div>
	</div>
</div>